<div class="container flex-fixed flex-row flex-justify-between">
  <h1><%= @user.name %>の冷蔵庫</h1>
  <h3>Foods (<%= @user.foods.count %>)</h3>
</div>

<div id="foods-feed" class="flex-content-scroll bg-c-3 card-m">
  <div class="flex-row flex-wrap flex-justify-around pd-8">
    <%= render @foods %>
  </div>
</div>
